.hero {
    /* Sizing */
    width: 100vw;
    height: 60vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url("src/assets/imagenes/Fondo1.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("src/assets/imagenes/Fondo1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .hero2 {
    /* Sizing */
    width: 100vw;
    height: 60vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url("src/assets/imagenes/fondo2.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("src/assets/imagenes/fondo2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    background-attachment: fixed;
  }
  .hero3 {
    /* Sizing */
    width: 100vw;
    height: 60vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url("src/assets/imagenes/fondo3.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("src/assets/imagenes/fondo3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    background-attachment: fixed;
  }