<footer class="page-footer black hh">
    <div class="container">
      <div class="row">
        <div class="col s4">
          <h5 class="white-text">Misión</h5>
          <p class="grey-text text-lighten-4">Proveer a nuestros usuarios de facilidades a la hora de consultar los inmuebles que están en compra o venta.</p>
        </div>
        <div class="col s4">
          <h5 class="white-text">Visión</h5>
          <p class="grey-text text-lighten-4">Ser para el 2023 el sitio web líder en consultas de inmuebles en Colombia.</p>
        </div>
        <div class="col s4">
          <h5 class="white-text">Contáctenos</h5>
          <ul>
            <p class="grey-text text-lighten-3">Dirección: Calle Falsa 123, Manizales, Caldas</p>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">E-mail de contacto</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

